@layer base {
  @font-face {
    font-family: "User Hairline";
    src: url("/fonts/User-Hairline.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "User Hairline Cameo";
    src: url("/fonts/User-HairlineCameo.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "User Light Cameo";
    src: url("/fonts/User-LightCameo.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "User Medium Cameo";
    src: url("/fonts/User-MediumCameo.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "User Light";
    src: url("/fonts/User-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "User ExtraLight";
    src: url("/fonts/User-ExtraLight.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "User ExtraLight Cameo";
    src: url("/fonts/User-ExtraLightCameo.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "User Bold";
    src: url("/fonts/User-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "User Medium";
    src: url("/fonts/User-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "User Bold";
    src: url("/fonts/User-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "User Bold Cameo";
    src: url("/fonts/User-BoldCameo.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
  }
}